version: '3.8'
services:
  postgres:
    image: postgres:14
    container_name: xml_parser_postgres
    environment:
      POSTGRES_DB: xml_parser_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: